* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f7fb;
}

.main {
  width: 90%;
  max-width: 1200px;
  margin: 40px auto;
}

h2 {
  margin: 25px 0px 10px 0px;
  font-size: 24px;
  padding-left: 12px;
  text-decoration: underline;
}


.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: white;
  padding: 25px;
  border-radius: 4px;
  border: rgb(212, 212, 212) solid 1px;
}


.container div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


label {
  font-weight: bold;
}


input {
  height: 35px;
  padding: 0 12px;
  border: 1px solid #eaebec;
  border-radius: 4px;
  font-size: 15px;
  transition: 0.3s;
}

.btn-container {
  width: 100%;
  height: 40px;
  border: rgb(192, 192, 192) solid 1px;
  margin-top: 30px;
  border-radius: 4px;
}

.btn-container button {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 17px;
  border: 0;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  transition-duration: 0.5s;
  border-radius: 4px;
}

.btn-container:hover button {
  background-color: rgb(219, 218, 218);
}

.error {
  color: red;
  font-size: 13px;
  margin-top: 4px;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.date-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date-text p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 24px;
}

sup {
  color: red;
}
